/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-flex;
}

#browseDrop #userDrop a {
    color: #ffffff;
}
#browseDrop #userDrop a:hover {
    color: #40c4ff;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    height: auto;
    overflow-x: hidden;
}

/* Links inside the dropdown */
.dropdown-content.show a {
    color: #263238;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content.show a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
#browseDrop.show {
    display:block;
    position: absolute;
    margin-top: 118px;
    color: black;
}

#userDrop.show {
    display:block;
    position: absolute;
    top: 52px;
    right:0px;
    color: black;
}
#filterDrop.show {
    display:block;
    position: absolute;
    color: black;
    z-index: 2;
    margin-top: 118px;
}
.divider {
  border-top: solid 1px #d0d0d0;
  clear: both;
  height: 1px;
  width: 100%;
}