body{
	background: url('../img/landing-back.jpg');
}
.section {
	background: url('../img/landing-back.jpg');
	background-color: #F5F5F6;
	padding-top: 15%;
	padding-bottom: 30%;
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 45%, rgba(245,245,245,0.0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(245,245,245,1) 45%, rgba(245,245,245,0.0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(245,245,245,1) 45%, rgba(245,245,245,0.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(245,245,245,1) 45%, rgba(245,245,245,0.0)); /* Standard syntax */
    z-index: 2;
}
.search-box-main {
	width:66%;
}
nav {
	background-color: #F5F5F6;
}
.level:not(:last-child) {
	margin: 0;
	padding-right: 30px;
}
.level.auth-box {
	padding-top: 15px;
    background-color: #F5F5F6;	
}