// 1. Import the initial variables
@import "../../../../bulma/sass/utilities/initial-variables"

$blue-gray: #263238
$chiquitin-blue: #40c4ff
$primary: $chiquitin-blue
$navbar-background-color: $blue-gray
$navbar-item-color: $white
$navbar-item-hover-color: $chiquitin-blue
$navbar-item-hover-background-color: $blue-gray
$navbar-dropdown-background-color: $blue-gray
$navbar-dropdown-item-hover-color: $chiquitin-blue
$navbar-dropdown-item-hover-background-color: $blue-gray
// 4. Import the rest of Bulma
@import "/Users/Mike/git2/personal/bulma/bulma"


.navbar
  box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.2)
  color: $white
  .title
    color: $white
    font-weight: 200
  .title:hover
    color: $chiquitin-blue
    font-weight: 200
  .navbar-burger span
    background-color: $white
  .navbar-burger:hover
    background-color: $blue-gray


.box
  border-radius: 2px


.material-shadow-d1
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)

//.material-shadow-d1:hover
//  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.material-shadow-d2
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.material-shadow-d3
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.material-shadow-d4
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.material-shadow-d5
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)