@import "base-main"

.card-footer 
  border-top: 0px

.card
  border-radius: 2px

.box 
  background: none

.section.wrap 
  background: none

.hero.browse
  background: url('../img/browse-back.jpg')


.container.browse
  background: url('../img/browse-back.jpg')
  background-color: #F5F5F6
  padding-top: 5%
  padding-bottom: 5%
  max-width: 100%
  width: 100%
  background: -webkit-linear-gradient(top, rgba(245,245,245,1) 25%, rgba(245,245,245,0.0)) /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(245,245,245,1) 25%, rgba(245,245,245,0.0)) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(245,245,245,1) 25%, rgba(245,245,245,0.0)) /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(245,245,245,1) 10% 30%, rgba(245,245,245,0.0)) /* Standard syntax */
  z-index: 2


.container.form 
  max-width: 50%
  width: 50%

.navbar.browse-nav
  background: $white
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2)
  
  .navbar-start
    margin: 0 auto

  .navbar-dropdown
    background-color: $white
    max-height: 200px
    overflow-x: hidden
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px

    .has-dropdown
      a:hover
        background-color: $white
  
  .navbar-item.has-dropdown:hover
    a
      background-color: $white

  a
    color: $grey-dark
    background-color: $white
    border-bottom: 3px solid transparent
    transition: color 300ms ease-in-out, border-bottom 300ms cubic-bezier(0.74, 0.85, 0.01, 1.01)

  a:hover
    color: $grey-dark
    background-color: $white
    border-bottom: 3px solid $primary

.search-box-main
  width: 75%

.movie-box
  border-radius: 2px
  padding: 1.25rem

.movie-tiles
  flex-wrap: wrap

.is-rating
  z-index: 1 
  position: absolute
  top: -10px
  right: -15px
  background-color: #29b6f6
  color: $white

.toolbar
  padding: 2rem 1rem 1rem 1rem