@import "base-main"

.mylist-main
  background-color: #f5f5f5

.toolbar
  padding: 1rem
  background-color: $white
  margin: 0 0.75rem 0 0.75rem

.movie-lists-table
  padding: 1rem

.movie-stats
  min-width: 20rem
  border-radius: 2px