// 1. Import the initial variables
@import "../../../../bulma/sass/utilities/initial-variables"

$blue-gray: #263238
$chiquitin-blue: #40c4ff
$primary: $chiquitin-blue
$navbar-background-color: $blue-gray
$navbar-item-color: $white
$navbar-item-hover-color: $chiquitin-blue
$navbar-item-hover-background-color: $blue-gray
$navbar-dropdown-background-color: $blue-gray
$navbar-dropdown-item-hover-color: $chiquitin-blue
$navbar-dropdown-item-hover-background-color: $blue-gray
// 4. Import the rest of Bulma

.main-col
  background-color: #f5f5f5
  border-radius: 2px

.toolbar
  padding: 1rem
  background-color: $white
  margin: 0 0.75rem 0 0.75rem

.wrap-tiles
  flex-wrap: wrap