<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>{% block page_title %}{% endblock %}</title>
        <!-- {% load static %} -->
        <!-- Bootstrap core CSS -->
        <link href="{% static '/css/bulma.css' %}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<link href="{% static 'mylist/css/ie10-viewport-bug-workaround.css' %}"
            rel="stylesheet">-->
            <!-- Custom styles for this template -->
            <link href="{% static '/css/dropdown.css' %}" rel="stylesheet">
            <link href="{% static '/css/base-main.css' %}" rel="stylesheet">
            {% block per_page_style %}
            {% endblock %}
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>
        <body>
            <header>
                {% include 'navbar.html' %}
            </header>
            
            <section class="hero">
                {% block browse_hero %}
                    {% include 'search/browse-hero.html' %}
                {% endblock browse_hero %}
            </section>
            
            <section class="section">
                <div class="container">
                    {% block main_content_header %}
                    {% endblock %}
                    {% block main_content %}
                    {% endblock %}
                </div>
            </section>

            <footer class="footer">
            {% include 'footer.html' %}
            </footer>
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script type="text/javascript" src="{% static '/js/jq-modal.js' %}"></script>
            <script type="text/javascript" src="{% static '/js/dropdown.js' %}"></script>
            <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
        </body>
    </html>