<div class="container browse">
    <div class="container form">
        <form action="{% url 'search:browse' %}" method="get" accept-charset="utf-8" role="search">
            <div class="field has-addons">
                <p class="control is-expanded">
                    {{ form.search }}
                </p>
                <p class="control">
                    <a class="button is-primary">
                        Search
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>
<nav class="navbar browse-nav">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">Popular <br /><small><span class="tag is-warning">Work in progress</span></small></a>
                <a class="navbar-item">Classics <br /><small><span class="tag is-warning">Work in progress</span></small></a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Genre</a>
                    <div class="navbar-dropdown">
                        {% for genre in genre_list %}
                            <a class="navbar-item" href="{% url 'search:by_genre' genre.id %}"> {{ genre.name }} </a><
                        {% endfor %}
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Year</a>
                    <div class="navbar-dropdown">
                        {% for year in year_list %}
                            <li><a class="navbar-item" href="{% url 'search:by_year' year %}"> {{ year }} </a></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>