{% extends 'base.html' %}
{% block page_title %} Our List | {% if user.is_authenticated %} {{ user }} {% else %} Guest {% endif %}{% endblock %}
{% load static %}
{% block per_page_style %}
    <link href="{% static '/search/browse.css' %}" rel="stylesheet">
{% endblock %}
<!-- Bootstrap core CSS -->
{% block main_content_header %}
    <div class="level">
        <div class="level-left">
            <h1 class="title">Browsing | <strong> {{ browse_header }} {{ date|date}} </strong></h1>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="tile is-ancestor">
        <div class="tile is-parent movie-tiles">
            {% for movie in response %}
                <div class="tile is-3 is-child movie-box">
                    <div class="card material-shadow-d2">
                        <span class="tag is-rating">{{ movie.vote_average }}
                            <span class="icon is-small">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        </span>
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ poster }}{{ movie.backdrop_path }}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5">{{ movie.title|truncatechars:28 }}</p>
                                    <p class="subtitle is-6">{{ movie.release_date }}</p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="field is-grouped">
                                    <a href="{% url 'search:movie-detail' movie.id %}" class="button">Details</a>
                                    <a class="button">
                                        <span class="icon is-small">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block per_page_jquery %}
    <script>
    $(document).ready(function(){
    $( ".hero" ).addClass( "browse" );
    });
    </script>
{% endblock per_page_jquery %}