<aside class="menu">
    <p class="menu-label"> Top 10 Movies </p>
    <ul class="menu-list">
        <li><a href="{% url 'search:top-this-month' %}"> This Month </a></li>
        <li><a href="{% url 'search:top-this-year' %}"> This Year </a></li>
    </ul>
    <p class="menu-label"> Browse By Genre </p>
    <ul class="menu-list">
        <li><a href=""> Sci-Fi </a></li>
        <li><a href=""> Drama </a></li>
        <li><a href=""> Comedy </a></li>
        <li><a href=""> Action </a></li>
    </ul>

</aside>