{% extends 'base_2column.html' %}
{% block page_title %} Our List | {{ user }} {% endblock %}
{% load static %}
{% block per_page_style %}
<link href="{% static 'mylist/mylist.css' %}" rel="stylesheet">
{% endblock per_page_style %}
<!-- SIDEBAR -->
{% block sidebar %}
	{% include sidebar %}
{% endblock %}

{% block main_content %}

{% block main_content_title %}
	<h1 class="title">My Lists</h1>
{% endblock main_content_title %}

{% block main_content_header %}
	<div  class="columns is-mobile">
		<div class="column">
			<div class="level toolbar material-shadow-d1">
				<div class="level-left is-expanded">
					<div class="level-item">
						<p class="subtitle is-5">
							<strong>{{ movie_count }}</strong> Movies
						</p>
					</div>
					<div class="level-item">
						<div class="field has-addons">
							<p class="control">
								<input class="input" type="text" placeholder="Find a movie in my lists">
							</p>
							<p class="control">
								<button class="button is-primary">
								Search
								</button>
							</p>
						</div>
					</div>
				</div>
				<div class="level-right">
					<div class="level-item">
						<a href="{% url 'mylist:new_list' %}" class="button is-primary">
							<span class="icon">
								<i class="fa fa-plus"></i>
							</span>
							<span>Add a new list</span>
						</a>
					</div>
					<div class="level-item"><a class="button">Manage Shared </a></div>
					<div class="level-item"><a id="renameBtn" class="button">Rename</a></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
<!-- TOOLBAR -->
<!-- MAIN CONTENT -->

	{% include 'mylist/rename-modal.html' %}
	<div class="tile is-parent">
		<div class="tile is-child">
			<table class="table material-shadow-d1  movie-lists-table">
				<thead>
					<tr>
						<th>#</th>
						<th>List Name</th>
						<th>Shared</th>
						<th>Edit</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for list in my_lists %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="{% url 'mylist:list-detail' list.id %}">{{ list.list_name }}</a></td>
							<td>{{ list.shared }}</td>
							<td>
								<div class="field has-addons">
									<p class="control">
										<a href="{% url 'mylist:list-edit' list.id %}" class="button is-primary"> Edit </a>
									</p>
								</div>
							</td>
							<td>
								<div class="field">
									<p class="control">
										<label class="checkbox">
											<input type="checkbox" value="{{ list.id }}">
										</label>
									</p>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}