{% extends 'base_2column.html' %}
{% block page_title %} Our List | {{ user }} {% endblock %}
{% load static %}
<!-- SIDEBAR -->
{% block sidebar %}
  {% include sidebar %}
{% endblock %}
{% block main_content %}
  {% block main_content_title %}
    <h1 class="title">{{ list.list_name }}</h1>
  {% endblock main_content_title %}
  {% block main_content_header %}
    
    <div class="level">
      <div class="level-item">
        <div class="box has-text-centered movie-stats material-shadow-d1">
          <p class="title is-5">{{ list.list_name }}</p>
          <p class="subitle is-6"><strong>{{ movies_watched }}</strong> Movies Watched</p>
        <progress class="progress is-primary" value="{{ watched_percent }}" max="100"></progress>
      </div>
    </div>
    <div class="level-item">
      <div class="box has-text-centered movie-stats material-shadow-d1">
        <p class="title is-5">All My Movies</p>
        <p class="subitle is-6"><strong>{{ all_movies_watched }}</strong> Movies Watched</p>
      <progress class="progress is-primary" value="{{ all_movies_watched_percent }}" max="100"></progress>
    </div>
  </div>
  <div class="level-item">
    <div class="box has-text-centered movie-stats material-shadow-d1">
      <p class="title is-5">Shared Movies</p>
      <p class="subitle is-6"><strong>{{ movies_watched }}</strong> Movies Watched</p>
    <progress class="progress is-primary" value="{{ watched_percent }}" max="100"></progress>
  </div>
</div>
</div>
{% endblock main_content_header %}
{% block main_content_toolbar %}
  <div  class="columns is-mobile">
    <div class="column">
      <div class="level toolbar material-shadow-d1">
        <div class="level-left is-expanded">
          <div class="level-item">
            <p class="subtitle is-5">
              <strong>{{ movie_count }}</strong> Movies
            </p>
          </div>
          <div class="level-item">
            <div class="field has-addons">
              <p class="control">
                <input class="input" type="text" placeholder="Find a movie in my lists">
              </p>
              <p class="control">
                <button class="button is-primary" disabled="">
                Search
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item"><a id="editBtn" class="button" disabled>Edit</a></div>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content_toolbar %}
<!-- MAIN CONTENT -->
<div class="tile is-parent">
<div class="tile is-child">
<table class="table material-shadow-d1">
  <caption></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Overview</th>
      <th>Date Added</th>
      <th>Date Watched</th>
      <th>Watched</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movie_list %}
      <tr>
        {% with forloop.counter as count %}
        <td>{{ count }}</td>
        <td><a href="{% url 'mylist:movie-detail' movie.movie_id %}">{{ movie.get_movie_title }}</a></td>
        <td>{{ movie.get_movie_overview }}</td>
        <td>{{ movie.date_added | date}}</td>
        {% if movie.watched is False %}
          <td> - </td>
          <td><a href="{% url 'mylist:set_watched' movie.movie_list_id movie.movie_id %}" class="button is-success is-outlined">Watched</td>
        {% else %}
          <td> {{ movie.date_watched | date }} </td>
          <td><a href="{% url 'mylist:clear_watched' movie.movie_list_id movie.movie_id %}" class="button is-success">Watched</td>
        {% endif %}
      {% endwith %}
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}