{% extends 'base_2column.html' %}
{% block page_title %} Our List | {{ user }} {% endblock %}
{% load static %}
<!-- SIDEBAR -->
{% block sidebar %}
	{% include sidebar %}
{% endblock %}
{% block main_content %}
{% block main_content_title %}
   <h1 class="title">{{ list_name }}</h1>
{% endblock main_content_title %}


{% block main_content_header %}
{% endblock main_content_header %}


{% block main_content_toolbar %}
	<form action="" method="post">{% csrf_token %}
		<div class="field">
			{{form.list_name.label_tag}}
			<p class="control">
				{{ form.list_name }}
			</p>
		</div>
		<div class="field">
			<p class="control">
				<label class="checkbox">
					{{ form.shared }}
					Shared List
				</label>
			</p>
		</div>
		<div class="field">
			{{ form.shared_with.label_tag }}
			<p class="control">
				{{ form.shared_with }}
			</p>
		</div>
		<div class="field is-grouped">
			<p class="control">
				<button class="button is-primary">Submit</button>
			</p>
			<p class="control">
				<button class="button is-link">Cancel</button>
			</p>
		</div>
	</form>
{% endblock main_content_toolbar %}


{% endblock main_content %}