{% extends 'base_2column.html' %}

{% block page_title %} Please Confirm {% endblock %}
{% load static %}
<!-- Bootstrap core CSS -->
{% block page_header %}
Please Confirm
{% endblock %}

{% block main_content %}

<div class="alert alert-warning" role="alert">
    Warning! You're about to delete <strong>{{ item.title }}</strong> from your list. Are
    you sure
    you want to do that?
</div>
<form action="" method="post">
    {% csrf_token %}
    <a href="{% url 'mylist:index' %}" role="button">Cancel</a>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
{% endblock %}