{% extends 'search/base.html' %}
{% block page_title %} Our List | {{ user }} {% endblock %}
{% block per_page_style %}
	<style type="text/css" media="screen">
		
	.box {
	min-height: 350px;
	border-radius: 0px;
	display: flex;
	align-items: center;
	justify-content: left;
	position: relative;
	}
	.box:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.6;
	background-image: url("{{ backdrop }}{{ movie.backdrop_path }}");
	background-repeat: no-repeat;
	background-position: 50% 0;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	}
	.box.movie-detail .title {
		color: #fff;
	}
	.box.movie-detail .subtitle {
		color: #f5f5f6;
	}
	.grad {
	min-height: 350px;
	border-radius: 0px;
	align-items: center;
	justify-content: left;
	position: relative;
	}
	.grad:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: black; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(0,0,0,0.8), rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5)); /* Standard syntax */
	}
	.media {
	padding:50px;
	z-index: 3;
	}
	.media-content .main-cast {
		margin-top: -1rem;
		margin-bottom: 0.5rem;
	}
	.media-content .block.title {
		margin-bottom: 0rem
	}
	.media-content .block.overview p {
		color: #fff;
	}
	.media-content .block.rating {
		color: #fff;
	}
	</style>
{% endblock %}
{% load static %}
<!-- Bootstrap core CSS -->
{% block main_content %}
	<div class="hero">
		<div class="grad">
			<div class="box movie-detail">
				
				<article class="media">
					<div class="media-left">
						<figure class="image">
							<img src="{{ poster }}{{ movie.poster_path }}" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="block title">
							<h3 class="title is-3"> {{ movie.title }} </h3>
							<h5 class="subtitle is-5"> {{ movie.release_date }} </h5>
						</div>
						<p class="block rating"> Movie Rating </p>
						<div class="block is-48x48 main-cast">
							<img src="http://bulma.io/images/placeholders/48x48.png">
							<img src="http://bulma.io/images/placeholders/48x48.png">
						</div>
						<div class="block overview">
							<p>{{ movie.overview }}</p>
						</div>
						<div class="level is-fullwidth">
							<form action="{% url 'mylist:add_to_list' movie.id %}" method="post" accept-charset="utf-8">
								{% csrf_token %}
								<div class="field is-grouped">
									<p class="control">
										<span class="select">{{ add_movie_form.movie_lists }}</span>
									</p>
									<p class="control">
										<button class="button is-primary" type="submit" >Add</button>
									</p>
								</div>
							</form>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
{% endblock %}