{% extends 'base_2column.html' %}

{% block page_title %} My Search {% endblock %}
{% load static %}
<!-- Bootstrap core CSS -->
{% block page_header %} My Search Results {% endblock %}
{% block main_content %}
<div class="jumbotron detail">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a type="button" href="{% url 'mylist:index' %}"
           class="btn btn-default">
            Cancel</a>
        <button type="submit" class="btn btn-defaut">Save</button>
    </form>
</div>
{% endblock %}