<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Rename List</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <form action="{% url 'mylist:rename_list' list.id %}" id="rename-form" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <div class="field">
          <p class="control">
          {{ rename_form.list_name }}
          </p>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <a id="submit" class="button is-success">Save changes</a>
      <a class="button">Cancel</a>
    </footer>
  </div>
</div>