<aside class="menu">
    <p class="menu-label"> My Lists </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'mylist:index' %}">All My Lists</a>
        </li>
        {% for list in my_lists %}
            <li>
                <a href="{% url 'mylist:list-detail' list.id %}">
                    {{ list.list_name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <p class="menu-label"> Shared With Me </p>
    <ul class="menu-list">
    {% for list in lists_shared_with_me %}
            <li>
                <a href="{% url 'mylist:list-detail' list.id %}">
                    {{ list.list_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</aside>