{% extends 'base.html' %}
{% load static %}
{% block per_page_style %}
   <link href="{% static 'users/login.css' %}" rel="stylesheet">
{% endblock per_page_style %}
{% block browse_hero %}
{% endblock browse_hero %}
{% block main_content %}
    <div class="section has-text-centered">
        <div class="box login">
           
           <h2 class="subtitle">{{ title }} </h2>
            <form action="" method="post"> {% csrf_token %}
                
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        {{ form.username }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-user-o"></i>
                        </span>
                    </p>
                </div>
                {% if title == 'Login' %}
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        {{ form.password }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>  
                    </p>
                    {% if form.errors %}
                        <p class="help is-danger">This password is invalid</p>
                    {% endif %}
                </div>
                {% else %}
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        {{ form.password1 }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>  
                    </p>
                    {% if form.errors %}
                        <p class="help is-danger">This password is invalid</p>
                    {% endif %}
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        {{ form.password2 }}
                        <span class="icon is-small is-left">
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>  
                    </p>
                    {% if form.errors %}
                        <p class="help is-danger">This password is invalid</p>
                    {% endif %}
                </div>

                {% endif %}
                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary">Submit</button>
                    </p>
                    <p class="control">
                        <a href="{% url 'browse' %}" class="button is-link">Cancel</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock main_content %}