<aside class="menu">
    <p class="menu-label"> Settings </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'users:user-settings-ai' user.id %}">
                Account Info
            </a>
        </li>
        <li>
            <a href="{% url 'users:user-settings-pi' user.id %}">
                Personal Info 
            </a>
        </li>
        <li>
            <a href="{% url 'users:user-settings-fl' user.id %}">
                Friends List
            </a>
        </li>
    </ul>
</aside>
