{% extends 'base_2column.html' %}
{% block page_title %} Our List | {{ user }} {% endblock %}
{% load static %}
{% block per_page_style %}
	<link href="{% static 'users/userprofile.css' %}" rel="stylesheet">
{% endblock per_page_style %}
<!-- SIDEBAR -->
{% block sidebar %}
	{% include 'users/sidebar_nav.html'%}
{% endblock %}
{% block main_content %}
	
	{% block main_content_header %}
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child">
					<div class="box material-shadow-d1">
						<h1 class="title is-size-4-mobile has-text-centered"> Profile Settings </h1>
					</div>
				</div>
			</div>
		</div>
	{% endblock main_content_header %}
	
	{% block main_content_toolbar %}
		
	{% endblock main_content_toolbar %}
	<!-- MAIN CONTENT -->
	<div class="tile is-ancestor is-flex-mobile">
		<div class="tile is-parent">
			<div class="tile is-child">
				<div class="box material-shadow-d1">
					<h3 class="title is-4 is-size-4-mobile">Personal Info</h2>

						<form action="" method="post">
							{% csrf_token %}
							<label class="label">Name</label>
							<div class="field is-grouped is-hidden-mobile"">
								<p class="control has-icons-left">
									{{ form.first_name }}
									<span class="icon is-small is-left">
										<i class="fa fa-user"></i>
									</span>
								</p>
								<p class="control has-icons-left">
									{{ form.last_name }}
									<span class="icon is-small is-left">
										<i class="fa fa-user"></i>
									</span>
								</p>
							</div>
							<div class="field is-hidden-desktop">
								<p class="control has-icons-left">
									{{ form.first_name }}
									<span class="icon is-small is-left">
										<i class="fa fa-user"></i>
									</span>
								</p>
							</div>
							<div class="field is-hidden-desktop">
								<p class="control has-icons-left">
									{{ form.last_name }}
									<span class="icon is-small is-left">
										<i class="fa fa-user"></i>
									</span>
								</p>
							</div>
							<label class="label">Email</label>
							<div class="field">
								<p class="control has-icons-left">
									{{ form.email }}
									<span class="icon is-small is-left">
										<i class="fa fa-envelope"></i>
									</span>
								</p>
							</div>
							<div class="field is-grouped">
								<p class="control">
									<a class="button is-primary" onclick="$(this).closest('form').submit()" >
										Submit
									</a>
								</p>
								<p class="control">
									<a class="button is-light">
										Cancel
									</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}