{% extends 'base_2column.html' %}
{% block page_title %} Our List | {{ user }} {% endblock %}
{% load static %}
{% block per_page_style %}
	<link href="{% static 'users/userprofile.css' %}" rel="stylesheet">
{% endblock per_page_style %}
<!-- SIDEBAR -->
{% block sidebar %}
	{% include 'users/sidebar_nav.html'%}
{% endblock %}
{% block main_content %}
	
	{% block main_content_header %}
	{% endblock main_content_header %}
	
	{% block main_content_toolbar %}
		
	{% endblock main_content_toolbar %}
	<!-- MAIN CONTENT -->
	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child">
				<div class="box material-shadow-d1">
					<h4 class="title is-3">Find Users</h4>
					<div class="tile is-ancestor">
						<div class="tile is-parent">
							<form action="{% url 'users:search-users' user.id %}" method="get" accept-charset="utf-8" role="search">
								<div class="field has-addons">
									<p class="control is-expanded">
										{{ add_friend_form.search }}
									</p>
									<p class="control">
										<a class="button is-primary">
											Search
										</a>
									</p>
								</div>
							</form>
						</div>
					</div>
					<div class="tile is-ancestor wrap-tiles">
						{% for u in users_found %}
							<div class="tile is-3 is-parent">
								<div class="tile is-child box material-shadow-d1">
									<div class="level">
										<div class="level-left">
											<div class="level-item">
												{{u}}
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												<div class="field">
													<div class="control">
														{% if u.userprofile in friends_list %}
															<a href="{% url 'users:remove-friend' user.id u.id %}" class="button is-danger is-small">Remove</a>
														{% else %}
															<a href="{% url 'users:add-friend' user.id u.id %}" class="button is-success is-small">Add</a>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<h4 class="title is-3">My Friends</h4>
					<div class="tile is-ancestor wrap-tiles">
						{% for f in friends_list %}
							<div class="tile is-3 is-parent">
								<div class="tile is-child material-shadow-d1 box">
									<div class="level">
										<div class="level-left">
											<div class="level-item">
												{{f.user}}
											</div>
										</div>
										<div class="level-right">
											<div class="level-item">
												<div class="field">
													<div class="control">
														<a href="{% url 'users:remove-friend' user.id f.id %}" class="button is-danger is-small">Remove</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% if forloop.counter|divisibleby:4 %}
							</div>
							<div class="tile is-ancestor">
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}