.main-col {
  background-color: #f5f5f5;
  border-radius: 2px; }

.toolbar {
  padding: 1rem;
  background-color: white;
  margin: 0 0.75rem 0 0.75rem; }

.wrap-tiles {
  flex-wrap: wrap; }

/*# sourceMappingURL=userprofile.css.map */
