<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'browse' %}"><h1 class="title">Kyū</h1></a>
    <a class="navbar-item is-hidden-mobile" href="{% url 'search:movies' %}">Movies</a>
    <a class="navbar-item is-hidden-mobile" href="#">TV Shows</a>
    <div class="navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable is-hidden-desktop">
        <a class="navbar-link">Browse</a>
        <div class="navbar-dropdown" href="{% url 'search:movies' %}">
          <a class="navbar-item">
            Movies
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="{% url 'search:movies' %}" disabled>
            TV Shows
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      {% if user.is_authenticated %}
      <a class="navbar-item" href="{% url 'mylist:index' %}">My Lists</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">{{ user }}</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'users:user-settings-ai' user.id %}">
              Settings
            </a>
            <hr class="navbar-divider">
            <a href="{% url 'users:logout' %}" class="navbar-item">
              Logout
            </a>
          </div>
        {% else %}
          <a class="navbar-item" href="{% url 'users:login' %}">Login</a>
          <a class="navbar-item" href="{% url 'users:register' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>